<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="css/styleswitcher.css">

    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>


    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div class="border-header"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="brand">
                        <h1 class="brand_name">
                            <a href="./">Alicia <span class="text-secondary">Johnson</span></a>
                            <em class="brand_slogan text-secondary">welcome to the world!</em>
                        </h1>
                    </div>

                    <p class="fw-b text-secondary">
                        My name is Alicia. I am a girl! Look how cute I am! <br/>I'm a sunny kid. I like to play very
                        much. I
                        already recognize my mom, <br/> dad and other family members. I am very smart for my age. <br/>
                        Looking at
                        my deep blue eyes your lips will always part in a smile.
                    </p>
                    <p class="fw-b text-secondary">
{{ content }}
                    </p>
                </div>
            </div>
            <div class="countdown"></div>
        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well bg-secondary shadow-mod">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <article>
                            <div class="icon icon1"></div>
                            <p class="img-circle"><img class="img-circle" src="images/page-1_img01.jpg" alt=""/></p>

                            <h3 class="text-primary">My mother</h3>
                            <h4 class="text-secondary">Miranda Johnson </h4>

                            <p>My mother gave me birth. <br/> She gives me all the love she has. <br/> She is the most
                                wonderful woman in the whole world </p>
                            <a href="#" class="btn">Read More</a>
                        </article>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <article>
                            <div class="icon icon2"></div>
                            <p class="img-circle"><img class="img-circle" src="images/page-1_img02.jpg" alt=""/></p>

                            <h3 class="text-primary">My father</h3>
                            <h4 class="text-secondary">Richard Johnson </h4>

                            <p>My father is very strong and brave. <br/> He always protects our home, my mother, <br/>
                                brother and me of course. </p>
                            <a href="#" class="btn">Read More</a>
                        </article>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <article>
                            <div class="icon icon3"></div>
                            <p class="img-circle"><img class="img-circle" src="images/page-1_img03.jpg" alt=""/></p>

                            <h3 class="text-primary">My brother</h3>
                            <h4 class="text-secondary">Denis Johnson </h4>

                            <p>This is my elder brother. <br/> He is bubbling with life and eager to play <br/> with me
                                any time I want. I love him very much! </p>
                            <a href="#" class="btn">Read More</a>
                        </article>

                    </div>
                </div>
            </div>
            <hr/>
        </section>

        <section class="parallax well2" data-url="images/parallax1.jpg" data-mobile="true">
            <div class="container">
                <h2 class="text-primary">My latest photos:</h2>

                <p class="text-primary-dark">Look through my amazing photos. Discover my first year,  it was so
                    exciting! Here you can find <br/> my main growth milestones; my first smile, my first cry, my first bath,
                    my first steps, new fears, <br/> new feelings... Join the wonderful virtual tour to my first-year
                    new
                    openings.</p>

                <div class="owl-carousel">

                    <div class="item ">

                        <a class="thumb img-circle" data-fancybox-group="1" href="images/page-1_img04_original.jpg">
                            <img class="img-circle" src="images/page-1_img04.jpg" alt=""/>
                            <span class="thumb_overlay img-circle"></span>
                        </a>


                        <a class="thumb img-circle" data-fancybox-group="1" href="images/page-1_img08_original.jpg">
                            <img class="img-circle" src="images/page-1_img08.jpg" alt=""/>
                            <span class="thumb_overlay img-circle"></span>
                        </a>

                    </div>


                    <div class="item ">
                        <a class="thumb img-circle" data-fancybox-group="1" href="images/page-1_img05_original.jpg">
                            <img class="img-circle" src="images/page-1_img05.jpg" alt=""/>
                            <span class="thumb_overlay img-circle"></span>
                        </a>


                        <a class="thumb img-circle" data-fancybox-group="1" href="images/page-1_img09_original.jpg">
                            <img class="img-circle" src="images/page-1_img09.jpg" alt=""/>
                            <span class="thumb_overlay img-circle"></span>
                        </a>

                    </div>


                    <div class="item ">

                        <a class="thumb img-circle" data-fancybox-group="1" href="images/page-1_img06_original.jpg">
                            <img class="img-circle" src="images/page-1_img06.jpg" alt=""/>
                            <span class="thumb_overlay img-circle"></span>
                        </a>


                        <a class="thumb img-circle" data-fancybox-group="1" href="images/page-1_img10_original.jpg">
                            <img class="img-circle" src="images/page-1_img10.jpg" alt=""/>
                            <span class="thumb_overlay img-circle"></span>
                        </a>
                    </div>

                    <div class="item ">

                        <a class="thumb img-circle" data-fancybox-group="1" href="images/page-1_img07_original.jpg">
                            <img class="img-circle" src="images/page-1_img07.jpg" alt=""/>
                            <span class="thumb_overlay img-circle"></span>
                        </a>


                        <a class="thumb img-circle" href="images/page-1_img11_original.jpg">
                            <img class="img-circle" src="images/page-1_img11.jpg" alt=""/>
                            <span class="thumb_overlay img-circle"></span>
                        </a>
                    </div>

                </div>

            </div>
        </section>

        <section class="well2 well2__mod bg-img">
            <hr/>
            <div class="container center991">
                <h2 class="head1 ff_skin text-secondary">Wiew more later <br/><span>Good bye!</span></h2>
            </div>
        </section>


    </main>
    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="container">
            <p class="copyright">
                <a class="text-secondary ff_skin head2 fw-n" href="#"> AliciaJonson</a> <br/> © <span
                    id="copyright-year"></span> |
                <span></span>All rights reserved</p>
            <!-- {%FOOTER_LINK} -->
        </div>
    </footer>
</div>

<script src="js/script.js"></script>
</body>
</html>